/* =============公共样式=========== */
/* 基础样式 */
html, body {
  padding: 0;
  margin: 0;
  min-width: 1200px;
}
div, p, input, ul, ol, input, li, span, h1, h2, h3, h4, h5, h6, nav, footer, i {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
/*  链接样式 */
a, a:visited{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active, a.active{
  color: #31c27c;
}

/* 雪碧图icon */
.sprite-icon{
  background-image: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: -3px;
  margin-right: 6px;
}
.list-menu-icon{
  background-image: url(../images/icon_list_menu.png);
}

/* 按钮*/
.mm-btn{
  padding: 0 18px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}
.green-btn{
  color: white;
  border: 1px solid #31c27c;
  background-color: #31c27c;
}
.green-btn:hover{
  background-color: #2caf6f;
  border-color: #2caf6f;
}
.white-btn{
  border: 1px solid #c9c9c9;
  color: #000;
}
.white-btn:hover{
  background-color: #ededed;
  color: #333;
}

/* 下载浮窗样式 */
.pop-guide{
  position: fixed;
  top: 164px;
  right: 40px;
  z-index: 1001;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0,0,0,.07);
  background-color: #fff;
}
.pop-guide .popup-guide-logo{
  display: block;
  margin: 0 auto 9px;
  width: 102px;
}
.pop-guide .popup-guide-txt{
  margin-bottom: 10px;
  font-size: 16px;
  color: #a6a6a6;
  text-align: center;
}
.pop-guide .green-btn{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 26px;
  border-radius: 26px;
  line-height: 26px;
  font-size: 15px;
}
.pop-guide .green-btn .sprite-icon{
  display: inline-block;
  margin-right: 4px;
  vertical-align: -1px;
  width: 13px;
  height: 14px;
  background-position: -160px -320px;
}

