body{
  background-image: url(../images/bg_detail.jpg);
  background-size: cover;
}
.container{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.song-list-info {
  position: relative;
  margin: 40px 0 35px 0;
}
.song-list-info::after{
  display: block;
  content: "";
  clear: both;
  height: 0;
  width: 0;
}
.song-list-info .cover {
  float: left;
  width: 250px;
  height: 250px;
  background-image: url(../images/300.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 55px;
}
.song-list-info .info{
  padding-top: 13px;
}
.song-list-info .info .song-list-name{
  color: #000;
  font-size: 31px;
  line-height: 50px;
  font-weight: 400;
  overflow: hidden;
  max-width: 70%;
  margin-right: 10px;
}
.song-list-info .info .author{
  margin-bottom: 8px;
}
.song-list-info .info .author .user-name{
  color: #333;
  font-size: 16px;
}
.song-list-info .info .author .user-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -20px -240px;
  margin: 5px 7px 0 0;
}
.song-list-info .info .info-line{
  height: 27px;
  line-height: 27px;
  width: 400px;
  overflow: hidden;
  font-size: 14px;
}
.song-list-info .info .button-line{
  margin-top: 24px;
  font-size: 0;
}
.song-list-info .info .button-line .btn{
  display: inline-block;
  min-width: 122px;
  text-align: center;
  padding: 0 18px;

  border-radius: 2px;
  font-size: 14px;
  margin-right: 6px;

  height: 38px;
  line-height: 38px;
}

.song-list-content{
  position: relative;
}
.song-list-content .song-list-list{
  padding-right: 343px;
}
.song-list-content .desc {
  position: absolute;
  top: 0;
  right: 0;
  width: 290px;
}
.song-list-content .desc .desc-title{
  font-size: 20px;
  font-weight: 400;
  line-height: 46px;
}
.song-list-content .desc .desc-content{
  line-height: 22px;
  font-size: 14px;
}
.song-list-content .song-list-list{
  font-size: 0;
  padding-bottom: 60px;
}
/* :nth-child(2n-1) 表示选择出奇数行 */
.song-list-content .song-list-list li:nth-child(2n-1){
  background-color: #fbfbfd;
}

.song-list-content .song-list-list .table-cel{
  display: inline-block;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  vertical-align: bottom;
  padding-right: 10px;
  overflow: hidden; /* 溢出隐藏 */
}
.table-cel.gray-color{
  color: #999;
}
.song-list-content .song-list-list .order{
  width: 36px;
}
.song-list-content .song-list-list .song{
  width: 45%;
  position: relative;
}

.song-list-content .song-list-list .artist{
  width: 20%;
}
.song-list-content .song-list-list .album{
  width: 20%;
}
.song-list-content .song-list-list .time{
  width: 50px;
}
.song-list-content .song-list-list .other{
  width: 38px;
}

.song-list-content .client-guide{
  width: 857px;
  text-align: center;
}
.song-list-content .client-guide .guide-text{
  font-size: 18px;
  color: #000;
}
.song-list-content .client-guide .green-btn{
  display: block;
  margin: 20px auto 0 auto;
  width: 175px;
  height: 41px;
  line-height: 41px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 41px;
}